extends ../ui_layout
  
block content
  .ui.text.container
    h1(style="text-align:left") Welcome to The Truman Platform Admin Dashboard! 
    img.ui.image(src='/public/truman.png')
    h2 Understanding the Administrator Dashboard
    p The administrator dashboard gives you (the researcher) ways to easily track your study progress and to set up your simulation. Use the left menu to navigate through the different options.
    h2 Brief Intro to The Truman Platform
    p Named after the 1998 film, The Truman Show, the Truman Platform is a social media simulation platform created by 
      a(href="https://socialmedialab.cornell.edu/", target="_blank") The Cornell Social Media Lab 
      | to provide researchers a community research infrastructure to conduct social media experiments in ecologically-valid realistic environments. 
    h2 Documentation
    a(href="https://truman.gitbook.io/the-truman-platform", target="_blank") https://truman.gitbook.io/the-truman-platform