.ui.left.fixed.vertical.menu.adminDashboardMenu
  h3 Study Progress
  a.item(data-value='1', href='/completed') Participant Tracking
    i.icon.edit
  h3 Simulation Set-up
  a.item(data-value='2', href='/actors') Actors
    i.icon.users
  a.item(data-value='3',href='/') Timeline
    i.icon.desktop 
  a.item(data-value='4',href='/simulationContent') CSV Generation
    i.icon.file.excel 
  a.item(data-value='4',href='/interfaceForm') Codebase Changes
    i.icon.code 

.ui.top.fixed.four.item.menu.adminDashboardMobileMenu
  a.item(data-value='1', href='/completed') Participant Tracking
  a.item(data-value='2', href='/actors') Actors
  a.item(data-value='3', href='/') Timeline
  a.item(data-value='4', href='/simulationContent') CSV Generation