extends ../ui_layout

block content
  .twelve.wide.column(style="margin-top: 2em; margin-bottom: 2em;")
    h2(style="text-align: center;") Task
    form.ui.large.form(action='/generateInterfaceChange', method='POST', id='simulation')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='prompt') Prompt
        input.form-control(type='text', name='prompt', id='prompt', placeholder='Describe the change you would like to make to The Truman Platform. Be as detailed as possible.')
      .field
        label(for='investment') Investment
        input.form-control(type='text', name='investment', id='investment', placeholder='Provide the investment amount for the task. If left blank, the default is 20.0.')
      .field
        label(for='n_round') n_round
        input.form-control(type='text', name='n_round', id='n_round', placeholder='Provide the number of rounds desired for the process. If left blank, the default is 5.')
      button.ui.large.button.green(type='submit') Submit

block scripts 
  script.
    $("form#simulation").submit(function(){
      $("button.ui.large.button.green").text("Generating Code..."); 
      $("button.ui.large.button.green").addClass("disabled"); 
    });