//- extends ../ui_layout

//- block content
//-   .eight.wide.column(style="margin-top: 2em; margin-bottom: 2em;")
//-     h2(style="text-align: center;") Chatbot
//-     div#chatbotElement

//-   .eight.wide.column(style="margin-top: 2em; margin-bottom: 2em;")
//-       h2(style="text-align: center;") MetaGPT System results

//- block scripts 
//-     script(src="https://unpkg.com/react@17/umd/react.development.js")
//-     script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js")
//-     script(src="static/js/main.c2cff6e0.js") // Path to your React bundle file

//- block scripts2
//-     script.
//-         // Mount the specific component in the specified container
//-         ReactDOM.render(
//-             React.createElement(App), // Replace with the specific component you want to render
//-             document.getElementById('chatbotElement')
//-         );