extends ../ui_layout
 
block content
  .sixteen.wide.column
    h2(style="text-align: center;") Results
    //- - let str=''
    //- for string in data
    //-   - str = str + string.replace("'", """)
    //-   p !{string}
    p #{data2}

    p #{data3}