extends ../ui_layout

block content
  .eight.wide.column(style="margin-top: 2em; margin-bottom: 2em;")
    h2(style="text-align: center;") Task
    form.ui.large.form(id='simulation')
      input(type='hidden', name='_csrf', value=_csrf)
      .field
        label(for='prompt') Prompt
        textarea.form-control(type='text', name='prompt', id='prompt', placeholder='Describe the change you would like to make to The Truman Platform. Be as detailed as possible.')
      .field
        label(for='investment') Investment
        input.form-control(type='text', name='investment', id='investment', placeholder='Provide the investment amount for the task. If left blank, the default is 20.0.')
      .field
        label(for='n_round') n_round
        input.form-control(type='text', name='n_round', id='n_round', placeholder='Provide the number of rounds desired for the process. If left blank, the default is 5.')
      button.ui.large.button.green Submit

  .eight.wide.column(style="margin-top: 2em; margin-bottom: 2em;")
      h2(style="text-align: center;") MetaGPT System results
      #loading-results.hidden
        .ui.active.centered.inline.loader
      #loaded-results.hidden
        h3(style="text-decoration: underline;") Input
        h3 prompt: 
        p#prompt
        h3 investment: 
        p#investment
        h3 n_round: 
        p#n_round
        h3(style="text-decoration: underline;") Output
        #results.hidden
          h3 Identified Relevant Files:
          #relevantFiles
          h3 Recommended Implementation Plan:
          ol
            #implementationPlan
          #steps
        #no-results.hidden
          h3#noOutput No Output

block scripts 
  script(src='/public/js/codebaseForm.js')

block styles
  style.
    #steps p {
      white-space: pre;
    }